--
-- PostgreSQL database cluster dump
--

\restrict hvh0zN1NLgmPN07KtkTObPqC2XcE5dVyACfRek9XGpqdC0C3uNzuL0n6yJB9Hck

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE facebook;




--
-- Drop roles
--

DROP ROLE sysfacebook;


--
-- Roles
--

CREATE ROLE sysfacebook;
ALTER ROLE sysfacebook WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS;

--
-- User Configurations
--








\unrestrict hvh0zN1NLgmPN07KtkTObPqC2XcE5dVyACfRek9XGpqdC0C3uNzuL0n6yJB9Hck

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict P70rr2qlpEPpm7YvXFfihUOpGPZPGEIcq7yTgcjXqQTwtWPFu17QCUvfIOlPxx7

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: sysfacebook
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO sysfacebook;

\unrestrict P70rr2qlpEPpm7YvXFfihUOpGPZPGEIcq7yTgcjXqQTwtWPFu17QCUvfIOlPxx7
\connect template1
\restrict P70rr2qlpEPpm7YvXFfihUOpGPZPGEIcq7yTgcjXqQTwtWPFu17QCUvfIOlPxx7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: sysfacebook
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: sysfacebook
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict P70rr2qlpEPpm7YvXFfihUOpGPZPGEIcq7yTgcjXqQTwtWPFu17QCUvfIOlPxx7
\connect template1
\restrict P70rr2qlpEPpm7YvXFfihUOpGPZPGEIcq7yTgcjXqQTwtWPFu17QCUvfIOlPxx7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: sysfacebook
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict P70rr2qlpEPpm7YvXFfihUOpGPZPGEIcq7yTgcjXqQTwtWPFu17QCUvfIOlPxx7

--
-- Database "facebook" dump
--

--
-- PostgreSQL database dump
--

\restrict eHsR0g7dQvM460Cmx5BEZdz69aQMtmtFBvyDpBdw6dCJXCaUMedF9lSLcoaqwLN

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: facebook; Type: DATABASE; Schema: -; Owner: sysfacebook
--

CREATE DATABASE facebook WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE facebook OWNER TO sysfacebook;

\unrestrict eHsR0g7dQvM460Cmx5BEZdz69aQMtmtFBvyDpBdw6dCJXCaUMedF9lSLcoaqwLN
\connect facebook
\restrict eHsR0g7dQvM460Cmx5BEZdz69aQMtmtFBvyDpBdw6dCJXCaUMedF9lSLcoaqwLN

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: amigos; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.amigos (
    solicitante_id bigint NOT NULL,
    solicitado_id bigint NOT NULL,
    status integer
);


ALTER TABLE public.amigos OWNER TO sysfacebook;

--
-- Name: comentarios; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.comentarios (
    id_usuarios bigint,
    id_comentario bigint,
    id_publicacion bigint,
    contenido_comentario character varying(8000),
    fecha_publicacion_comentario date
);


ALTER TABLE public.comentarios OWNER TO sysfacebook;

--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.failed_jobs OWNER TO sysfacebook;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: sysfacebook
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.failed_jobs_id_seq OWNER TO sysfacebook;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sysfacebook
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: grupos; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.grupos (
    id_grupo bigint NOT NULL,
    nombre_grupo character varying(255),
    descripcion character(1)
);


ALTER TABLE public.grupos OWNER TO sysfacebook;

--
-- Name: miembros_grupos; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.miembros_grupos (
    id_grupo bigint,
    id_usuarios bigint,
    rol character varying(50)
);


ALTER TABLE public.miembros_grupos OWNER TO sysfacebook;

--
-- Name: migrations; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO sysfacebook;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: sysfacebook
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO sysfacebook;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sysfacebook
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: password_resets; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.password_resets (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_resets OWNER TO sysfacebook;

--
-- Name: perfiles; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.perfiles (
    id_usuarios bigint NOT NULL,
    nombre_usuario character varying(50) NOT NULL,
    presentacion text
);


ALTER TABLE public.perfiles OWNER TO sysfacebook;

--
-- Name: personal_access_tokens; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.personal_access_tokens (
    id bigint NOT NULL,
    tokenable_type character varying(255) NOT NULL,
    tokenable_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    token character varying(64) NOT NULL,
    abilities text,
    last_used_at timestamp(0) without time zone,
    expires_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.personal_access_tokens OWNER TO sysfacebook;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: sysfacebook
--

CREATE SEQUENCE public.personal_access_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.personal_access_tokens_id_seq OWNER TO sysfacebook;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sysfacebook
--

ALTER SEQUENCE public.personal_access_tokens_id_seq OWNED BY public.personal_access_tokens.id;


--
-- Name: publicaciones; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.publicaciones (
    id_usuarios bigint,
    contenido_publicacion character varying(255),
    fecha_publicacion timestamp(0) without time zone,
    id_publicacion bigint NOT NULL
);


ALTER TABLE public.publicaciones OWNER TO sysfacebook;

--
-- Name: publicaciones_grupos; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.publicaciones_grupos (
    id_publicacion bigint,
    id_grupo bigint,
    id_usuario bigint
);


ALTER TABLE public.publicaciones_grupos OWNER TO sysfacebook;

--
-- Name: publicaciones_id_publicacion_seq; Type: SEQUENCE; Schema: public; Owner: sysfacebook
--

CREATE SEQUENCE public.publicaciones_id_publicacion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.publicaciones_id_publicacion_seq OWNER TO sysfacebook;

--
-- Name: publicaciones_id_publicacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sysfacebook
--

ALTER SEQUENCE public.publicaciones_id_publicacion_seq OWNED BY public.publicaciones.id_publicacion;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    nombre_rol character varying(50) NOT NULL
);


ALTER TABLE public.roles OWNER TO sysfacebook;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: sysfacebook
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO sysfacebook;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sysfacebook
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: sysfacebook
--

CREATE TABLE public.usuarios (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    apellido character varying(255) NOT NULL,
    correo character varying(255) NOT NULL,
    "contrase├▒a" character varying(255) NOT NULL,
    rol_id bigint DEFAULT '2'::bigint NOT NULL,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.usuarios OWNER TO sysfacebook;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: sysfacebook
--

CREATE SEQUENCE public.usuarios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_id_seq OWNER TO sysfacebook;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sysfacebook
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: personal_access_tokens id; Type: DEFAULT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.personal_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.personal_access_tokens_id_seq'::regclass);


--
-- Name: publicaciones id_publicacion; Type: DEFAULT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.publicaciones ALTER COLUMN id_publicacion SET DEFAULT nextval('public.publicaciones_id_publicacion_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: amigos; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--

COPY public.amigos (solicitante_id, solicitado_id, status) FROM stdin;
\.


--
-- Data for Name: comentarios; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--

COPY public.comentarios (id_usuarios, id_comentario, id_publicacion, contenido_comentario, fecha_publicacion_comentario) FROM stdin;
7	\N	8	hola	2025-12-14
7	\N	8	hola	2025-12-14
\.


--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: grupos; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--

COPY public.grupos (id_grupo, nombre_grupo, descripcion) FROM stdin;
\.


--
-- Data for Name: miembros_grupos; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--

COPY public.miembros_grupos (id_grupo, id_usuarios, rol) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--



--
-- Data for Name: password_resets; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--

COPY public.password_resets (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: perfiles; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--

COPY public.perfiles (id_usuarios, nombre_usuario, presentacion) FROM stdin;
\.


--
-- Data for Name: personal_access_tokens; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--

COPY public.personal_access_tokens (id, tokenable_type, tokenable_id, name, token, abilities, last_used_at, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: publicaciones; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--

COPY public.publicaciones (id_usuarios, contenido_publicacion, fecha_publicacion, id_publicacion) FROM stdin;
1	hola 2	2025-11-13 01:59:55	2
1	hola 3	2025-11-13 02:02:14	3
1	holaprueba	2025-11-13 02:04:38	4
3	hola prueba	2025-11-15 20:17:50	5
4	hola 546	2025-11-17 01:36:07	6
6	fjsaasd	2025-12-03 03:35:35	7
2	hola	2025-12-04 03:17:07	8
11	hola	2026-01-17 19:28:44	9
\.


--
-- Data for Name: publicaciones_grupos; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--

COPY public.publicaciones_grupos (id_publicacion, id_grupo, id_usuario) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--

COPY public.roles (id, nombre_rol) FROM stdin;
1	admin
2	usuario
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: sysfacebook
--



--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sysfacebook
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sysfacebook
--

SELECT pg_catalog.setval('public.migrations_id_seq', 18, true);


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sysfacebook
--

SELECT pg_catalog.setval('public.personal_access_tokens_id_seq', 1, false);


--
-- Name: publicaciones_id_publicacion_seq; Type: SEQUENCE SET; Schema: public; Owner: sysfacebook
--

SELECT pg_catalog.setval('public.publicaciones_id_publicacion_seq', 9, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sysfacebook
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, false);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sysfacebook
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 11, true);


--
-- Name: amigos amigos_pkey; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.amigos
    ADD CONSTRAINT amigos_pkey PRIMARY KEY (solicitante_id, solicitado_id);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: grupos grupos_pkey; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.grupos
    ADD CONSTRAINT grupos_pkey PRIMARY KEY (id_grupo);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: password_resets password_resets_pkey; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT password_resets_pkey PRIMARY KEY (email);


--
-- Name: perfiles perfiles_pkey; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.perfiles
    ADD CONSTRAINT perfiles_pkey PRIMARY KEY (id_usuarios);


--
-- Name: personal_access_tokens personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_token_unique UNIQUE (token);


--
-- Name: publicaciones publicaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.publicaciones
    ADD CONSTRAINT publicaciones_pkey PRIMARY KEY (id_publicacion);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_correo_unique; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_correo_unique UNIQUE (correo);


--
-- Name: roles usuarios_nombre_rol_key; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT usuarios_nombre_rol_key UNIQUE (nombre_rol);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens_tokenable_type_tokenable_id_index; Type: INDEX; Schema: public; Owner: sysfacebook
--

CREATE INDEX personal_access_tokens_tokenable_type_tokenable_id_index ON public.personal_access_tokens USING btree (tokenable_type, tokenable_id);


--
-- Name: amigos amigos_solicitado_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.amigos
    ADD CONSTRAINT amigos_solicitado_id_fkey FOREIGN KEY (solicitado_id) REFERENCES public.usuarios(id);


--
-- Name: amigos amigos_solicitante_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.amigos
    ADD CONSTRAINT amigos_solicitante_id_fkey FOREIGN KEY (solicitante_id) REFERENCES public.usuarios(id);


--
-- Name: comentarios comentarios_id_publicacion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.comentarios
    ADD CONSTRAINT comentarios_id_publicacion_fkey FOREIGN KEY (id_publicacion) REFERENCES public.publicaciones(id_publicacion);


--
-- Name: comentarios comentarios_id_usuarios_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.comentarios
    ADD CONSTRAINT comentarios_id_usuarios_fkey FOREIGN KEY (id_usuarios) REFERENCES public.usuarios(id);


--
-- Name: miembros_grupos miembros_grupos_id_grupo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.miembros_grupos
    ADD CONSTRAINT miembros_grupos_id_grupo_fkey FOREIGN KEY (id_grupo) REFERENCES public.grupos(id_grupo);


--
-- Name: miembros_grupos miembros_grupos_id_usuarios_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.miembros_grupos
    ADD CONSTRAINT miembros_grupos_id_usuarios_fkey FOREIGN KEY (id_usuarios) REFERENCES public.usuarios(id);


--
-- Name: perfiles perfiles_id_usuarios_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.perfiles
    ADD CONSTRAINT perfiles_id_usuarios_fkey FOREIGN KEY (id_usuarios) REFERENCES public.usuarios(id);


--
-- Name: publicaciones_grupos publicaciones_grupos_id_grupo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.publicaciones_grupos
    ADD CONSTRAINT publicaciones_grupos_id_grupo_fkey FOREIGN KEY (id_grupo) REFERENCES public.grupos(id_grupo);


--
-- Name: publicaciones_grupos publicaciones_grupos_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.publicaciones_grupos
    ADD CONSTRAINT publicaciones_grupos_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id);


--
-- Name: publicaciones publicaciones_id_usuarios_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sysfacebook
--

ALTER TABLE ONLY public.publicaciones
    ADD CONSTRAINT publicaciones_id_usuarios_fkey FOREIGN KEY (id_usuarios) REFERENCES public.usuarios(id);


--
-- PostgreSQL database dump complete
--

\unrestrict eHsR0g7dQvM460Cmx5BEZdz69aQMtmtFBvyDpBdw6dCJXCaUMedF9lSLcoaqwLN

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict vfNjYyl2pAk4fQAMlsrJV6DYrrVPW9qEDbFclqlJKf1Az9SjfC1LuI9sxgEhZjZ

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: sysfacebook
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO sysfacebook;

\unrestrict vfNjYyl2pAk4fQAMlsrJV6DYrrVPW9qEDbFclqlJKf1Az9SjfC1LuI9sxgEhZjZ
\connect postgres
\restrict vfNjYyl2pAk4fQAMlsrJV6DYrrVPW9qEDbFclqlJKf1Az9SjfC1LuI9sxgEhZjZ

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: sysfacebook
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict vfNjYyl2pAk4fQAMlsrJV6DYrrVPW9qEDbFclqlJKf1Az9SjfC1LuI9sxgEhZjZ

--
-- PostgreSQL database cluster dump complete
--

